.complete {
  text-decoration: line-through;
}

body {
  display: flex;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: blanchedalmond;
  font-size: large;
}
